body,
html {
  width: 100%;
  height: 100%;
}
#header .top {
  width: 100%;
  height: 51px;
  background-color: #ff841d;
  overflow: hidden;
}
#header .top img {
  float: left;
  height: 25px;
  margin: calc(13px) 18px;
}
#header .top .icon {
  width: 51px;
  height: 100%;
  float: right;
  position: relative;
}
#header .top .icon i {
  position: absolute;
  top: -10px;
}
#header .top .icon i:before {
  font-size: 50px;
  color: #fff;
}
#header .top .icon span {
  position: absolute;
  font-size: 10px;
  bottom: 4px;
  left: 4px;
  color: #fff;
}
#header .search {
  border-bottom: 1px solid #ccc;
  padding: 11px 20px;
}
#header .search > div {
  position: relative;
  height: 30px;
}
#header .search > div input {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 30px;
  text-indent: 30px;
  line-height: 30px;
  font-size: 16px;
}
#header .search > div a {
  position: absolute;
  right: 0;
  height: 100%;
  width: 60px;
  background-color: #ff841d;
  border-radius: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
}
#header .nav {
  height: 372px;
}
#recommendArea .recommend .recommend-top {
  height: 36px;
  background: linear-gradient(to bottom, #ffaf47, #ff9000);
}
#recommendArea .recommend .recommend-top h2 {
  font-size: 20px;
  font-weight: 900;
  line-height: 36px;
  color: #fff;
  float: left;
  margin-left: 10px;
}
#recommendArea .recommend .recommend-top a {
  display: block;
  float: right;
  height: 100%;
}
#recommendArea .recommend .recommend-top a i {
  color: #fff;
  font-size: 20px;
  float: right;
  height: 100%;
  line-height: 36px;
  margin-right: 10px;
}
